language: android
jdk:
  - oraclejdk8
android:
  components:
    - tools

    - build-tools-24.0.3

    - android-25

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
    - addon-google_apis-google-19
    
    
before_script:
  # Accept License of Constraint Layout
  - mkdir -p $ANDROID_HOME/licenses/
  - echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > $ANDROID_HOME/licenses/android-sdk-license
  - echo "84831b9409646a918e30573bab4c9c91346d8abd" > $ANDROID_HOME/licenses/android-sdk-preview-license
  # Download dependencies and avoi exit if there is an error (ConstraintLayout install error fix)
  - ./gradlew dependencies || true
  
script: ./gradlew build connectedCheck
